<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Purchase Detail</title>
</head>

<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">

    <div th:replace="template :: navigator"></div>

    <div class="container">

        <form th:action="@{/detail/api/add}" method="post" th:object="${new_detail}">

            <div class="row">

                <div class="row col-md-8">
                    <div class="col-md-6">/div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="${purchase.id}"></div>
                </div>

                <div class="row col-md-8">
                    <div class="col-md-6">Store:</div>
                    <div class="col-md-6">
                        <select class="form-control" th:field="${item_list}">
                            <option th:each="i : ${item_list}" th:value="${i.id}"
                                    th:text="${i.name}"></option>
                        </select>
                    </div>
                </div>

                <div class=" row col-md-8">
                    <div class="col-md-6">Quantity:</div>
                    <div class="col-md-6"><input class="form-control" type="number" th:field="*{quantity}"></div>
                </div>

                <div class=" row col-md-8">

                    <div class="col-md-6"></div>
                    <div class="col-md-6"><input type="submit" class="form-control" value="submit"></div>

                </div>

            </div>
        </form>

    </div>

    <footer th:replace=" template :: footer"></footer>
</div>
</body>

</html>
