<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Purchase List</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>

    <!--<h2>Profile:</h2>-->
    <!--<div th:if="${error_message}">-->
    <!--<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>-->
    <!--</div>-->

    <form th:action="@{/order/get}" method="post">
        <select name="id">
            <option th:each="option: ${purchase_list}" th:value="${option.id}" th:text="${option.name}"></option>
        </select>
        <input type="submit" th:value="Filter">
    </form>

    <div class="container">

        <div class="row col-12" th:each="task : ${new_list}">
            <div class="col-1"><p th:text="${task.id}"></p></div>
            <div class="col-2"><p th:text="${task.name}"></p></div>
            <div class="col-2"><p th:text="${task.begining}"></p></div>
            <div class="col-2"><p th:text="${task.close}"></p></div>
            <div class="col-2"><p th:text="${task.whoCreate}"></p></div>
            <div class="col-md-1">
                <a th:if="${task.close == null}"
                   th:href="@{'/request/api/add?id=' + ${task.id}}">Add Item</a>
            </div>
            <div class="col-md-1">
                <a th:if="${loggedIn == 1 && task.close == null}"
                   th:href="@{'/order/api/remove?id=' + ${task.id}}">Remove</a>
            </div>
            <div class="col-md-1">
                <a th:if="${task.close == null}"
                   th:href="@{'/order/admin/close?id=' + ${task.id}}">Close</a>
            </div>

        </div>

        <div class="row col-12" th:each="task : ${request_list}">
            <div class="col-2"><p th:text="${task.id}"></p></div>
            <div class="col-2"><p th:text="${task.getItem().name}"></p></div>
            <div class="col-2"><p th:text="${task.quantity}"></p></div>
            <div class="col-2"><p th:text="${task.getAppUser().name}"></p></div>

            <div th:if="${task.getPurchase().close == null}">
                <div class="col-md-1">
                    <a th:if="${task.getAppUser().id == loggedIn || loggedIn == 1 }"

                       th:href="@{'/request/api/modify?id=' + ${task.id}}">Modify</a>
                </div>
                <div class="col-md-1">
                    <a th:if="${task.getAppUser().id == loggedIn || loggedIn == 1 }"
                       th:href="@{'/request/api/remove?id=' + ${task.id}}">Remove</a>
                </div>
            </div>

        </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<div class="row colored" th:each="i : ${item_list}">-->
    <!--<div class="col-md-1"><p th:text="${i.id}"></p></div>-->
    <!--<div class="col-md-1"><p th:text="${i.name}"></p></div>-->
    <!--<div class="col-md-1"><p th:text="${i.price}"></p></div>-->
    <!--<div class="col-md-1"><p th:text="${i.url}"></p></div>-->
    <!--<div class="col-md-1"><p th:text="${i.store.name}"></p></div>-->
    <!--<div class="col-md-1">-->
    <!--<a sec:authorize="hasRole('ROLE_ADMIN')"-->
    <!--th:href="@{'/item/admin/modify?id=' + ${i.id}}">Modify</a>-->
    <!--</div>-->
    <!--<div class="col-md-1">-->
    <!--<a sec:authorize="hasRole('ROLE_ADMIN')"-->
    <!--th:href="@{'/item/admin/remove?id=' + ${i.id}}">Remove</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->


    <div class="row">
        <div class="col-md-12">
            <a th:href="@{'/order/api/add'}">Add Purchase</a>
        </div>
    </div>

</div>
<!--Tu będziemy pisać content <> end -->

</div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>