<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">

<head th:fragment="headeer">
    <meta charset="UTF-8">
    <title>Computer Service</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<div th:fragment="navigator">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Computer Service</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/">Home</a>

                <a sec:authorize="isAuthenticated()" class="nav-link" href="/play/multiply">Playground</a>
                <a sec:authorize="isAuthenticated()" class="nav-link" href="/view/client/profile/">Profile</a>
                <a sec:authorize="isAuthenticated()" class="nav-link" href="/view/device/add">Add Device</a>
                <a sec:authorize="isAuthenticated()" class="nav-link" href="/view/task/allTask">Task List</a>
                <a sec:authorize="isAuthenticated()" class="nav-link" href="/logout">Logout</a>

                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/view/admin/task">Close Task</a>

                <a sec:authorize="!isAuthenticated()" class="nav-link" href="/login">Login</a>
                <a sec:authorize="!isAuthenticated()" class="nav-link" href="/register">Register</a>
            </nav>
        </div>
    </header>
</div>

<footer th:fragment="footer">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</footer>

</body>
</html>