<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Modify Item</title>
</head>

<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">

    <div th:replace="template :: navigator"></div>

    <!--<div th:if="${error_message}">-->
    <!--<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>-->
    <!--</div>-->

    <div class="container">

        <form th:action="@{/item/admin/modify}" method="post" th:object="${modify_item}">

            <div class="row">

                <div class="row col-md-8">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{itemId}" hidden></div>
                </div>

                <div class="row col-md-8">
                    <div class="col-md-6">Name:</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{name}"></div>
                </div>

                <div class=" row col-md-8">
                    <div class="col-md-6">Price:</div>
                    <div class="col-md-6"><input class="form-control" type="number" th:field="*{price}"></div>
                </div>


                <div class=" row col-md-8">
                    <div class="col-md-6">Url:</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{url}"></div>
                </div>

                <div class="row col-md-8">
                    <div class="col-md-6">Store:</div>
                    <div class="col-md-6">
                        <select class="form-control" th:field="*{storeId}">
                            <option th:each="i : ${store_list}" th:value="${i.id}"
                                    th:text="${i.name}"></option>
                        </select>
                    </div>
                </div>

                <div class=" row col-md-8">

                    <div class="col-md-6"></div>
                    <div class="col-md-6"><input type="submit" class="form-control" value="submit"></div>

                </div>

            </div>
        </form>

    </div>

    <footer th:replace=" template :: footer"></footer>
</div>
</body>

</html>
