<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Store List</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>

    <!--<h2>Profile:</h2>-->
    <!--<div th:if="${error_message}">-->
    <!--<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>-->
    <!--</div>-->

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="row colored" th:each="i : ${store_list}">
                    <div class="col-md-3"><p th:text="${i.id}"></p></div>
                    <div class="col-md-3"><p th:text="${i.name}"></p></div>

                <div class="col-md-3">
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/api/store/modify?id=' + ${i.id}}">Modify</a>
                </div>
                <div class="col-md-3">
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/api/store/remove?id=' + ${i.id}}">Remove</a>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a th:href="@{'/api/store/add'}">Add Store</a>
            </div>

        </div>
    </div>
    <!--Tu będziemy pisać content <> end -->

</div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>