<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Archive Task</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">

    <div th:replace="template :: navigator"></div>

    <!--<div th:if="${error_message}">-->
    <!--<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>-->
    <!--</div>-->

    <div class="container">

        <form th:action="@{/view/admin/archive}" method="post" th:object="${archive}">

            <input class="row form-control" type="number" th:field="*{taskIdArchive}" th:value="*{taskIdArchive}">
            <!--<input class="row form-control" type="datetime-local" th:field="*{beginingArchive}" th:value="*{beginingArchive}">-->
            <!--<input class="row form-control" type="datetime-local" th:field="*{endArchive}" th:value="*{endArchive}">-->
            <input class="row form-control" type="text" th:field="*{descriptionArchive}" th:value="*{descriptionArchive}">
            <input class="row form-control" type="number" th:field="*{deviceIdArchive}" th:value="*{deviceIdArchive}">

            <!--<div class=" row col-md-8">-->
            <!--<div class="col-md-6">Client id:</div>-->
            <!--<div class="col-md-6">-->
            <!--</div>-->

            <div class="row col-md-10">
                <div class="col-md-6"></div>
                <div class="col-md-6"><input type="submit" class="form-control" value="Archive"></div>
            </div>

        </form>
    </div>
</div>

<footer th:replace=" template :: footer"></footer>
</body>
</html>