<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Modify device</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">

    <div th:replace="template :: navigator"></div>

    <!--<div th:if="${error_message}">-->
    <!--<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>-->
    <!--</div>-->

    <div class="container">

        <form th:action="@{/view/admin/modify}" method="post" th:object="${admin}">

            <input class="row form-control" type="number" th:field="*{taskId}" th:value="*{taskId}" hidden>

            <div class="row col-md-10">
                <div class="col-md-6">Desctiption:</div>
                <div class="col-md-6"><input class="form-control" type="text" th:field="*{description}"></div>
            </div>

            <div class="row col-md-10">
                <div class="col-md-6">Device:</div>
                <div class="col-md-6">
                    <select class="form-control" th:field="*{done}">
                        <option th:each="i : ${choices}" th:value="${i}"
                                th:text="${i}"></option>
                    </select>
                </div>
            </div>

            <!--<div class=" row col-md-8">-->
            <!--<div class="col-md-6">Client id:</div>-->
            <!--<div class="col-md-6">-->
            <!--</div>-->

            <div class="row col-md-10">
                <div class="col-md-6"></div>
                <div class="col-md-6"><input type="submit" class="form-control" value="THE END"></div>
            </div>

        </form>
    </div>
</div>

<footer th:replace=" template :: footer"></footer>
</body>
</html>