<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>

    <div class="container">
        <!--<h2>Profile:</h2>-->
        <!--<div th:if="${error_message}">-->
        <!--<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>-->
        <!--</div>-->

        <div class="row col-md-10">
            <div class="col-md-6">Select</div>
            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="row colored" th:each="i : ${task}">
                            <div class="col-md-2"><p th:text="${i.device.client.getEmail()}"></p></div>
                            <div class="col-md-2"><p th:text="${i.device.name}"></p></div>
                            <div class="col-md-2"><p th:text="${i.description}"></p></div>
                            <div class="col-md-2"><p th:text="${i.getBegining()}"></p></div>
                            <div class="col-md-2"><p th:text="${i.getEnd()}"></p></div>
                            <div class="col-md-1">
                                <a th:href="@{'/view/admin/modify?taskId=' + ${i.id}}">Close Task</a>
                            </div>
                            <div class="col-md-1">
                                <a th:href="@{'/view/admin/archive?taskId=' + ${i.id}}">Archive</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>


</div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>