<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Add task</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">

    <div th:replace="template :: navigator"></div>

    <div class="container">

        <form th:action="@{/view/task/add}" method="post" th:object="${newTask}">

            <div class="row col-md-10">
                <div class="col-md-6">Device:</div>
                <div class="col-md-6">
                    <select class="form-control" th:field="*{deviceId}">
                        <option th:each="i : ${deviceList}" th:value="${i.id}"
                                th:text="${i.name}"></option>
                    </select>
                </div>
            </div>

            <div class="row col-md-10">
                <div class="col-md-6">Description:</div>
                <div class="col-md-6"><input class="form-control" type="text" th:field="*{description}"></div>
            </div>

            <div class=" row col-md-10">
                <div class="col-md-6"></div>
                <div class="col-md-6"> <input type="submit" class="form-control" value="submit"></div>
            </div>

    </div>
    </form>
</div>
</div>

<footer th:replace=" template :: footer"></footer>

</body>
</html>