<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Modify device</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">

    <div th:replace="template :: navigator"></div>

    <!--<div th:if="${error_message}">-->
    <!--<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>-->
    <!--</div>-->

    <div class="container">

        <form th:action="@{/view/device/modify}" method="post" th:object="${modify_device}">

            <input class="row form-control" type="number" th:field="*{deviceId}" th:value="*{deviceId}" hidden>

            <div class="row col-md-10">
                <div class="col-md-6">Name:</div>
                <div class="col-md-6"><input class="form-control" type="text" th:field="*{name}"></div>
            </div>

            <div class="row col-md-10">
                <div class="col-md-6">Worth:</div>
                <div class="col-md-6"><input class="form-control" type="number" th:field="*{worth}"></div>
            </div>

            <!--<div class=" row col-md-8">-->
            <!--<div class="col-md-6">Client id:</div>-->
            <!--<div class="col-md-6">-->
            <!--</div>-->

            <div class="row col-md-10">
                <div class="col-md-6"></div>
                <div class="col-md-6"><input type="submit" class="form-control" value="Modify"></div>
            </div>

        </form>
    </div>
</div>

<footer th:replace=" template :: footer"></footer>
</body>
</html>