<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Client Profile</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="row colored" th:each="i : ${taskList}">
                    <div class="col-md-2"><p th:text="${i.device.getName()}"></p></div>
                    <div class="col-md-2"><p th:text="${i.begining}"></p></div>
                    <div class="col-md-3"><p th:text="${i.end}"></p></div>
                    <div class="col-md-3"><p th:text="${i.description}"></p></div>
                    <div class="col-md-2">Links</div>
                </div>
            </div>
        </div>

    </div>

    <footer th:replace=" template :: footer"></footer>
</div>
</body>
</html>