<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Device Profile</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>

    <!--<h2>Profile:</h2>-->
    <!--<div th:if="${error_message}">-->
    <!--<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>-->
    <!--</div>-->

    <div class="container">
        <!--Tu będziemy pisać content <> start-->

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">Device:</div>
                    <div class="col-md-6"><p th:text="${device.name}"></p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">Worth:</div>
                    <div class="col-md-6"><p th:text="${device.worth}"></p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">Added Date:</div>
                    <div class="col-md-6"><p th:text="${device.addDate}"></p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row colored" th:each="i : ${taskList}">
                    <div class="col-md-1"><p th:text="${i.description}"></p></div>
                    <div class="col-md-1"><p th:text="${i.getBegining()}"></p></div>
                    <div class="col-md-1"><p th:text="${i.getEnd()}"></p></div>
                </div>
            </div>
        </div>
        <!--Tu będziemy pisać content <> end -->
    </div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>