<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">

<head th:fragment="headeer">
    <meta charset="UTF-8">
    <title>Purchase Service</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<header th:fragment="navigator">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Carousel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a  class="nav-link" href="/login">Login</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/item/get">Item List</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a  class="nav-link" href="/order/get">Purchase List</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a  class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

<!--<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">-->
    <!--<div th:fragment="navigator">-->
        <!--<header class="masthead mb-auto">-->
            <!--<div class="inner">-->
                <!--<h3 class="masthead-brand">Purchase Servicee</h3>-->
                <!--<nav class="nav nav-masthead justify-content-center">-->

                    <!--<a class="nav-link" href="/">Home</a>-->
                    <!--<a sec:authorize="!isAuthenticated()" class="nav-link" href="/login">Login</a>-->

                    <!--<a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/register">Register</a>-->

                    <!--<a sec:authorize="isAuthenticated()" class="nav-link" href="/api/store/get">Store List</a>-->
                    <!--<a sec:authorize="isAuthenticated()" class="nav-link" href="/item/get">Item List</a>-->
                    <!--<a sec:authorize="isAuthenticated()" class="nav-link" href="/order/get">Purchase List</a>-->
                    <!--<a sec:authorize="isAuthenticated()" class="nav-link" href="/logout">Logout</a>-->

                <!--</nav>-->
            <!--</div>-->
        <!--</header>-->
    <!--</div>-->


    <footer th:fragment="footer">
        <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    </footer>

<!--</div>-->


</body>
</html>

